header {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
* {
    padding: 0;
    margin: 0;
}
div{
    display: block;
}
.login{
  color: #E9E9E9;
    background-color: #181A21;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
.content {
  background: #171d25;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
}
.supernav_container {
  position: absolute;
  left: 200px;
}
.menuitem {
  display: block;
  position: relative;
  padding-top: 45px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  line-height: 16px;
  float: left;
  font-size: 14px;
  color: #dcdedf;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.store {
  color: #1a9fff;
  text-decoration: underline;
}
.logo{
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 176px;
    height: 44px;
    
}
.page_content{
  background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) center top no-repeat, #181A21;
    
    padding: 0px 8px;
    width: 100%;
}
.login_container{
    padding-top: 80px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.newlogindialog_Login{
    position: relative;
    display: flex;
    flex-direction: column;
}
.newlogindialog_Primary{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
.newlogindialog_Flex{
    display: flex;
    flex-direction: column;
}
.newlogindialog_StandardLayout{
    width: 100%;
}
.newlogindialog_Form{
  background-color: #181a21;
    border-radius: 4px;
    padding: 24px 32px;
    flex: 1;
    min-width: 636px;
}
.newlogindialog_SidebySide{
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 10px;
}
.newlogindialog_LoginForm{
  flex: 1;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}
.newlogindialog_TextField{
  display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}
.newlogindialog_Fieldlable{
  font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}
.newlogindialog_Highlight{
  color: #1999ff;
    font-weight: 500;
}
.newlogindialog_TextInput{
  border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}
.newlogindialog_CheckboxField{
  display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.newlogindialog_Checkbox{

  width: 14px;
    height: 14px;
    padding: 3px;
    border-radius: 2px;
    background-color: #32353c;
    cursor: pointer;
}
.newlogindialog_Check{
  width: 100%;
  height: 100%;
  display: flex;

}
.newlogindialog_CheckboxFieldLable{
  color: #afafaf;
  font-size: 12px;
  user-select: none;
  padding-left: 6px;
}
.SVGIcon_Button{
  fill: #fff;
    overflow: visible;
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 320px;
}
.newlogindialog_SignInButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newlogindialog_SubmitButton{
  position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}
.newlogindialog_SubmitButton a{
text-decoration: none;
color: #fff;
}
.newlogindialog_Login .newlogindialog_SignInButtonContainer button{
  width: 270px;
}
.newlogindialog_FormError{
  color: #c15755;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.newlogindialog_TextLink{
  color: #afafaf;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.newlogindialog_TextAlignCenter{
  text-align: center;
}
.newlogindialog_QRSection{
  flex: 0;
  display: grid;
  gap: 4px;
  margin-left: 40px;
}

.newlogindialog_QR{
  aspect-ratio: 1;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 8px;
}
.qrlogin_Column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qrcode_QRBits{
  display: grid;
}
.qrcode_QRBits img{
  width: calc(200px - 2.5em);
  height: calc(200px - 2.5em);
}
.qrlogin_LoginQR{
  position: relative;
  width: calc(240px - 2.5em);
  height: calc(240px - 2.5em);
  border-style: solid;
  border-color: #fff;
  border-width: 1.25em;
  border-radius: 0.625em;
}
.newlogindialog_Login .newlogindialog_QRSection .newlogindialog_UseMobileAppForQR{
  text-align: center;
    font-size: 12px;
    color: #afafaf;
}
.login_bottom_row{
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  justify-content: center;
  background-color: #181A21;
}
.login_btn_ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.login_bottom_row_item{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
}
.headline{
  font-size: 20px;
    font-weight: 800;
    color: white;
}

.login_btn_ctn a{
  margin: 10px 0 10px 0;
  display: block;
  text-align: center;
  text-decoration: none;
}
.login_create_btn{
  padding: 3px 20px;
  color: white;
  text-shadow: none;
}
.subtext{
  font-size: 14px;
    color: #b8b6b4;
}
.login_join_desc{
  max-width: 60%;
  text-align: center;
  font-size: 14px;
}
.about_link{
  margin-top: 10px;
  color: #b8b6b4;
  text-decoration: underline;
}
#footer_space{
  height: 290px;
  background-color: #181A21;
}
#footer{
  background-color: #181A21;
  font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 0 60px 0;
    margin: 0;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    background: #171a21;
}
.footer_content{
  width: 940px;
    margin: 0px auto;
    padding-top: 16px;
}
.rule{
  height: 8px;
  border-top: 1px solid #363c44;
}
.footer_logo_steam{
  float: right;
  padding-top: 2px;
}
.container{
  position: relative;
}
.footer_logo{
  float: left;
  padding-top: 2px;
}
.footer_logo img{
  width: 88px;
  height: 25px;
}
#footer_text{
  float: left;
  margin-left: 12px;
  color: #8F98A0;
  font-size: 12px;
  line-height: 16px;
}
#footer_text a{
  color: #C6D4DF;
}
.value_links{
  margin-top: 8px;
  float: left;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #61686D;
}
.value_links a{
  color: #C6D4DF;
  text-decoration: none;
}
.value_links img{
  vertical-align: bottom;
}
#global_actions{
  position: absolute;
    right: 0px;
    top: 6px;
    height: 21px;
    line-height: 21px;
    color: #b8b6b4;
    font-size: 11px;
    z-index: 401;
}
#global_action_menu{
  line-height: 24px;
    vertical-align: top;
    display: inline-block;
}
#global_action_menu > *{
  vertical-align: top;
}
.header_installsteam_btn{
  display: inline-block;
  position: relative;
  height: 21px;
  line-height: 24px;
  margin-right: 3px;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.header_installsteam_btn_greeen{
  background-color: #5c7e10;
}
.header_installsteam_btn_content{
  display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;
}
a.global_action_link{
  color: #b8b6b4;
  padding: 0 4px;
}
.pulldown{
  padding-left: 5px;
    padding-right: 18px;
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

